.avatar {
  width: 160px;
}

.signInCard {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3% auto;
}

.signInForm * {
  margin: 10px 0;
}

.signInForm {
  input,
  button {
    margin: 10px;
    border: 1px solid #dfd6f9;
    width: 200px;
  }
}

.signInForm {
  input:hover,
  button:hover {
    box-shadow: 0 0 0 5px #eae2ff;
    border-color: #dfd6f9;
  }
}

#signInButton:active {
  border-color: #896fce;
}

.signInForm button {
  background-color: #eae2ff;
}

.signInForm button:disabled {
  border-color: #dfd6f9;
}

.signInForm {
  padding: 20px;
  border: 1px solid #dfd6f9;
  border-radius: 10px;
  background-color: rgb(248, 246, 255);
}

.correctLogin {
  border-color: red !important;
  color: red;
  font-size: 12px;
  margin: 0;
  display: block;
}

.hiddenBlock {
  display: none;
}
