.navigationPanel {
  background: linear-gradient(#f7f5ff, #ece4ff);
  color: rgb(47, 22, 84);
  padding: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigationPanel * {
  align-content: center;
}

.navigationPanel h4 {
  font-weight: 300;
}

#userImage,
#basketImage {
  width: 50px;
}

.controlPanel > * {
  margin-right: 15px;
}

.controlPanel {
  text-align: right;
}
