.Footer {
  background-color: rgb(17, 17, 17);
  width: 100%;
  color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 1.5rem;
}

.Footer {
  a {
    color: #ffffff;
  }
}
