#filterPanel {
  margin: 20px 0px 0px 6px;
}

#filterPanel {
  input,
  .searchButton,
  select {
    border: 1px solid #dfd6f9;
  }

  div {
    margin-bottom: 10px;
  }

  .searchSection:hover,
  .searchSection:focus,
  .searchSection:active,
  .searchSection:focus-within,
  select:hover,
  select:focus {
    box-shadow: 0 0 0 5px #eae2ff;
    border-color: #dfd6f9;
    border-radius: 10px;
  }
}

.searchSection {
  input:focus {
    box-shadow: none;
  }
}

.searchIcon {
  width: 20px;
}

.searchButton {
  background-color: #eae2ff;
}
