.purchaseDetails {
  margin: 15px 0;
  border-radius: 5px;
  border: 1px solid #dfd6f9;
  align-items: center;
}

.purchaseDetails {
  img {
    text-align: center;
  }
  div {
    padding: 10px;
  }
  a {
    color: inherit;
  }
}

#totalPrice {
  text-align: right;
}

.removeButton {
  text-align: right;
}

.removeButton {
  button {
    border: none;
    background-color: #ffffff;
  }
}

.quantityOfBooksControl,
.countQuantity {
  flex: 2;
}
.selectQuantityButton {
  flex: 1;
}

.quantityOfBooksInput {
  flex: 2;
}

.quantityOfBooksInput,
.selectQuantityButton {
  border: 1px solid #dfd6f9;
  text-align: center;
  font-size: 16px;
}

.quantityOfBooksControl input:hover,
.quantityOfBooksControl input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 5px #eae2ff;
  border-color: #dfd6f9;
}

.selectQuantityButton {
  background-color: rgb(248, 246, 255);
  color: #595c5f;
  border-radius: 5px;
  cursor: pointer;
}

.selectQuantityButton:hover {
  background-color: #eae2ff;
  border-color: #dfd6f9;
  color: #595c5f;
}

.quantityOfBooksControl input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.disabled {
  opacity: 0.5;
  cursor: auto;
}

.disabled:hover {
  background-color: inherit;
}
